numpy
spacy
# python -m spacy download en_core_web_md
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz
wikipedia
# io
# re
PyMuPDF # fitz
streamlit==1.3.0 # st.beta_columns => colums (non beta)

trafilatura
#base64
